.section-home {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 300px;
}


.home {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 300px;
}
