.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 120px;
  background-color: #0d1a2f;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.85); 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transition: width 0.3s, background-color 0.3s;
  z-index: 1000;
}

.theme-toggle {
   width: 30px;
   color: var(--accent);
   cursor: pointer;
   margin-bottom: 100px;
   font-size: 1.5rem;
   display: flex;
   transition: transforme 0.4s ease;
}


.theme-toggle .icon-moon,
.theme-toggle .icon-sun {
   animation: none;
   transition: transform 0.6s ease, filter 0.3s ease;
}

.theme-toggle .icon-moon:hover {
   transform: rotate(360deg);
}

.theme-toggle .icon-sun:hover {
   transform: rotate(360deg);
}

.theme-toggle .icon-moon:not(:hover),
.theme-toggle .icon-sun:not(:hover) {
   transform: rotate(0deg);
   transform: transform 0.6s ease-out, filter 0.3s ease-out;
}

.nav-item,
.nav-item .label {
   color: white !important;
}


.nav-links {
   display: flex;
   flex-direction: column;
   gap: 60px;
}

.nav-item {
   position: relative;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: var(--accent);
   transition: color 0.3s;
}

.nav-item .label {
   position: absolute;
   left: 100%;
   top: 50%;
   transform: translateY(-50%) scaleX(0);
   background-color: #3ABAB4;
   color: var(--primary);
   padding: 5px 10px;
   margin-left: 10px;
   border-radius: 5px;
   white-space: nowrap;
   font-size: 0.874rem;
   opacity: 0;
   transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-item:hover .number {
   color: #3ABAB4;
   transition: color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

.nav-item:hover .label {
   transform: translateY(-50%) scaleX(1);
   opacity: 1;
}

.hamburger {
   position: fixed;
   top: 20px;
   right: 20px;
   background: none;
   border: none;
   cursor: pointer;
   z-index: 1001;
   display: none;
   width: 32px;
   height: 32px;

}

.hamburger .bar {
   width: 20px;
   height: 3px;
   background: white;
   margin: 4px 0;
   border-radius: 2px;
   transition: background-color 0.3s;
}



@media (max-width: 768px) {
   .sidebar {
      left: auto;
      right: -100%;
      width: 170px;
      transition: right 0.3s ease;
   }

   .sidebar.open {
      right: 0;
   }

   .theme-toggle {
      padding-top: 70px;
   }

   .nav-item {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
   }

   .nav-item .label {
      position: static;
      transform: none;
      opacity: 1;
      background: none;
      color: white;
      padding: 0;
      margin: 0;
      border-radius: 0;
      transition: none;
   }

 
   .nav-item:hover .label {
      transform: none;
      opacity: 1;

   }


   .hamburger {
      display: block;
      align-items: center;
      justify-content: center;
   }

   .hamburger .bar {
      transition: transform 0.3s ease, background-color 0.3s ease;
   }

   .hamburger.open .bar:nth-child(1) {
     transform: rotate(45deg) translate(2px, 1px);
   }

   .hamburger.open .bar:nth-child(2) {
     transform: rotate(-45deg) translate(4px, -4px);
   }


}
