.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 120px;
  background-color: #0d1a2f;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.85); 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transition: width 0.3s, background-color 0.3s;
  z-index: 1000;
}

.theme-toggle {
   width: 30px;
   color: var(--accent);
   cursor: pointer;
   margin-bottom: 100px;
   font-size: 1.5rem;
   display: flex;
   transition: transforme 0.4s ease;
}

.theme-toggle .icon-moon,
.theme-toggle .icon-sun {
   transition: transform 0.6s ease, filter 0.6s ease;
   filter: blur(0);
}

.theme-toggle .icon-moon:hover,
.theme-toggle .icon-sun:hover {
   animation: spinForward 0.6s forwards;
}

.theme-toggle .icon-moon:not(:hover),
.theme-toggle .icon-sun:not(:hover) {
   animation: spinReverse 0.6s ;
}

@keyframes spinForward {
  0% {
    transform: rotate(0deg);
    filter: blur(0);
  }
  50% {
    filter: blur(1px);
  }
  100% {
    transform: rotate(360deg);
    filter: blur(0);
  }
}

@keyframes spinReverse {
  0% {
    transform: rotate(360deg);
    filter: blur(0);
  }
  50% {
    filter: blur(1px);
  }
  100% {
    transform: rotate(0deg);
    filter: blur(0);
  }
}

.nav-links {
   display: flex;
   flex-direction: column;
   gap: 60px;
}

.nav-item {
   position: relative;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: var(--accent);
   transition: color 0.3s;
}

.nav-item .label {
   position: absolute;
   left: 100%;
   top: 50%;
   transform: translateY(-50%) scaleX(0);
   background: var(--accent);
   color: var(--primary);
   padding: 5px 10px;
   margin-left: 10px;
   border-radius: 5px;
   white-space: nowrap;
   font-size: 0.874rem;
   opacity: 0;
   transition: transform 0.3s ease, opacity 0.3s ease;
}


.nav-item:hover .label {
   transform: translateY(-50%) scaleX(1);
   opacity: 1;
}

.hamburger {
   position: fixed;
   top: 20px;
   right: 20px;
   background: none;
   border: none;
   cursor: pointer;
   z-index: 1001;
   display: none;
   width: 32px;
   height: 32px;
   justify-content: center;

}

.hamburger .bar {
   width: 20px;
   height: 3px;
   background: var(--text);
   margin: 4px 0;
   border-radius: 2px;
   transition: background-color 0.3s;
}



@media (max-width: 768px) {
   .sidebar {
      left: auto;
      right: -100%;
      width: 170px;
      transition: right 0.3s ease;
   }

   .sidebar.open {
      right: 0;
   }

   .hamburger {
      display: block;
   }

   .hamburger.open .bar:nth-child(1) {
     transform: rotate(45deg) translate(4px, 4px);
   }

   .hamburger.open .bar:nth-child(2) {
     transform: rotate(-45deg) translate(4px, -4px);
   }


}
